.scene {
  width: var(--cube-width);
  height: var(--cube-height);
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 550ms cubic-bezier(0.17, 1, 0.25, 1.1);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cube-height);
  margin: 0;
  perspective: 800px;
  cursor: pointer;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cube-width);
  height: var(--cube-height);
  border: var(--border-width, 1px) solid var(--cube-border, rgba(255, 255, 255, 0.445));
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.face.front {
  transform: translateZ(calc(var(--cube-depth, var(--cube-height)) / 2));
}

.face.back {
  transform: rotateX(180deg) translateZ(calc(var(--cube-depth, var(--cube-height)) / 2));
}

.face.top {
  transform: rotateX(90deg) translateZ(calc(var(--cube-depth, var(--cube-height)) / 2));
}

.face.bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--cube-depth, var(--cube-height)) / 2));
}

