.scene {
  width: var(--cube-width);
  height: var(--cube-height);
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cube-height);
  margin: 0;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 550ms cubic-bezier(0.17, 1, 0.25, 1.1);
}

.face {
    position: absolute;
    width: var(--cube-width);
    height: var(--cube-height);
    border: var(--border-width, 1) solid
      var(--cube-border, rgba(255, 255, 255, 0.445));
    background-size: cover;
    background-position: center;
    padding: 5px;
}

span {
    transform: scaleX(-1);
}

