.rotating-cube {
  .scene {
    width: var(--cube-width, 200px);
    height: var(--cube-height, 200px);
    display: flex;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cube-height, 200px);
    margin: 0;
    cursor: pointer;
  }
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 550ms cubic-bezier(0.17, 1, 0.25, 1.1);
  }

  .face {
    position: absolute;
    width: var(--cube-width, 200px);
    height: var(--cube-height, 200px);
    border: var(--border-width, 1px) solid
      var(--cube-border, rgba(255, 255, 255, 0.445));
    background-size: cover;
    background-position: center;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .face.front {
    transform: rotateY(0deg)
      translateZ(calc(var(--cube-depth, var(--cube-width, 200px)) / 2));
    background-color: var(--cube-front, rgb(182, 40, 40));
  }
  .face.back {
    transform: rotateY(180deg)
      translateZ(calc(var(--cube-depth, var(--cube-width, 200px)) / 2));
    background-color: var(--cube-back, rgb(151, 33, 206));
  }
  .face.right {
    transform: rotateY(90deg)
      translateZ(calc(var(--cube-depth, var(--cube-width, 200px)) / 2));
    background-color: var(--cube-right, rgb(33, 121, 33));
  }
  .face.left {
    transform: rotateY(-90deg)
      translateZ(calc(var(--cube-depth, var(--cube-width, 200px)) / 2));
    background-color: var(--cube-left, rgb(202, 110, 23));
  }
  .face.top {
    transform: rotateX(90deg)
      translateZ(calc(var(--cube-depth, var(--cube-width, 200px)) / 2));
    background-color: var(--cube-top, transparent);
  }
  .face.bottom {
    transform: rotateX(-90deg)
      translateZ(calc(var(--cube-depth, var(--cube-width, 200px)) / 2));
    background-color: var(--cube-bottom, transparent);
  }
}
@keyframes rotate-cube {
  from {
    transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg);
  }
}
